@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255, 236, 232;
    /* #FFECE8 */
    --color-secondary: 198, 104, 108;
    /* #C6686C */
    --color-kunds: 240, 199, 191;
    /* #F0C7BF */
    --color-kb: 196, 90, 95;
    /* #c45a5f */
  }
}

@layer components {
  .title_of_page {
    @apply text-3xl text-center font-extrabold mb-3;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply max-w-7xl mx-auto bg-primary text-secondary;
}

.navbar {
  @apply max-w-7xl justify-evenly w-full fixed flex items-center bg-[#edd5d0];
}

.log {
  font-family: "Bungee Inline", sans-serif;
  @apply md:text-5xl text-4xl text-secondary;
}

.nav_links {
  @apply gap-10 hidden md:flex;
}

.nav_menu_icon {
  @apply md:hidden;
}

section {
  @apply min-h-screen pt-20 mx-2;
  @apply flex flex-col;
}

.bubble_bg {
  @apply rounded-full -z-10;
  transform: perspective(800px) rotateY(-8deg);
  transition: transform 1s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  background: rgb(255, 236, 232);
  background: linear-gradient(
    155deg,
    rgba(255, 236, 232, 1) 0%,
    rgba(198, 104, 108, 1) 100%
  );
  &:hover {
    transform: perspective(800px) rotateY(-4deg);
  }
}

.card_container {
  @apply mx-5 grid gap-3 lg:grid-cols-3 md:grid-cols-2 justify-items-center items-center h-full;
}

.card {
  @apply max-w-sm bg-secondary border border-secondary rounded-lg shadow;

  & a > img {
    @apply rounded-t-lg h-80 w-full object-cover object-top;
  }

  & > div {
    @apply p-5;
    & a > .card_title {
      @apply mb-2 text-2xl font-bold tracking-tight text-primary;
    }

    & > p {
      @apply mb-3 font-normal text-primary;
    }
    & > .card_link {
      @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-secondary bg-primary rounded-lg hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300;
    }
  }
}

.skill {
  @apply flex flex-col items-center justify-end w-32 h-[132px] gap-4 text-2xl;
  @apply border border-secondary rounded-xl pb-2;

  &:hover {
    @apply bg-secondary text-primary;
    & > svg {
      @apply fill-primary;
    }
  }
}

.contact_box {
  @apply md:w-1/2 p-[8%];
}
.form-control {
  @apply h-11 w-full px-2 py-3 text-base border border-solid border-secondary text-secondary;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition-property: border-color, box-shadow;
  &:focus {
    @apply border-primary shadow-lg;
    outline: none;
  }
}

textarea.form-control {
  @apply h-24;
}

.s_btn {
  @apply w-min px-7 rounded-3xl shadow-md shadow-secondary cursor-grab h-11 bg-secondary text-primary;
}
