@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255, 236, 232;
    /* #FFECE8 */
    --color-secondary: 198, 104, 108;
    /* #C6686C */
  }
}

@layer components {
  .title_of_page {
    @apply text-3xl text-center font-extrabold;
  }
}

/* npx tailwindcss -i ./docs/style.css -o ./docs/output.css --watch */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply max-w-7xl mx-auto bg-primary text-secondary;
}

.navbar {
  @apply max-w-7xl justify-between w-full p-4 fixed flex items-center bg-[#edd5d0];
}

.log {
  font-family: "Bungee Inline", sans-serif;
  @apply md:text-5xl text-4xl text-secondary;
}

.nav_links {
  @apply gap-10 hidden md:flex;
}

.nav_menu_icon {
  @apply md:hidden;
}

section {
  @apply h-screen pt-20;
  @apply flex flex-col;
}

.bubble_bg {
  @apply rounded-full -z-10;
  transform: perspective(800px) rotateY(-8deg);
  transition: transform 1s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  background: rgb(255, 236, 232);
  background: linear-gradient(
    155deg,
    rgba(255, 236, 232, 1) 0%,
    rgba(198, 104, 108, 1) 100%
  );
  &:hover {
    transform: perspective(800px) rotateY(-4deg);
  }
}

.skill {
  @apply flex flex-col items-center justify-end h-1/2 w-4/5 gap-4 text-2xl;
  @apply border border-secondary rounded-xl pb-2;

  &:hover {
    @apply bg-secondary text-primary;
  }

  &:hover > svg {
    @apply fill-primary;
  }
}
